/* Shrink the tab close button */
/* Source: https://www.reddit.com/r/FirefoxCSS/comments/pg3duw/how_to_reduce_the_size_of_close_button_padding */

.tab-close-button {
  width: 14px !important;
  height: 14px !important;
  padding: 0px !important;
  margin: 0px !important;
}

/* ------------------------------------------------------------------------------------------ */

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_bookmarks_and_main_toolbars.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

#navigator-toolbox{
  --uc-bm-padding: 0px; /* Vertical padding to be applied to bookmarks */
  --uc-bm-height: calc(20px + 2 * var(--uc-bm-padding)); /* Might need to adjust if the toolbar has other buttons */
  --uc-navbar-height: -40px; /* navbar is main toolbar. Use negative value */
  --uc-autohide-toolbar-delay: 0ms; /* The toolbar is hidden after 0.6s */
}

:root[uidensity="compact"] #navigator-toolbox{
  --uc-navbar-height: -34px;
}
:root[uidensity="touch"] #navigator-toolbox{ --uc-bm-padding: 6px }

:root[chromehidden~="directories"] #navigator-toolbox{
  --uc-bm-height: 0px;
}
:root[chromehidden~="toolbar"] #navigator-toolbox{
  --uc-navbar-height: 0px;
}
#navigator-toolbox,
#sidebar-box,
#sidebar-main,
#sidebar-splitter,
#tabbrowser-tabbox{
  z-index: auto !important;
}

:root[sessionrestored] #nav-bar,
:root[sessionrestored] #PersonalToolbar{
  background-image: linear-gradient(var(--toolbar-bgcolor),var(--toolbar-bgcolor)), var(--lwt-additional-images,var(--toolbar-bgimage))  !important;
  background-position: top,var(--lwt-background-alignment);
  background-position-y: calc(0px - var(--tab-min-height) - 2*var(--tab-block-margin,0px));
  background-repeat: repeat,var(--lwt-background-tiling);
  transform: rotateX(90deg);
  transform-origin: top;
  transition: transform 5ms linear var(--uc-autohide-toolbar-delay) !important;
  z-index: 2;
}
#PlacesToolbarItems > .bookmark-item,
#OtherBookmarks,
#PersonalToolbar > #import-button{
  padding-block: var(--uc-bm-padding) !important;
}
:root[sessionrestored] #PersonalToolbar{
  z-index: 1;
  background-position-y: calc(0px - var(--tab-min-height) - 2*var(--tab-block-margin,0px) + var( --uc-navbar-height));
}

:root[lwtheme-image] #nav-bar,
:root[lwtheme-image] #PersonalToolbar{
  background-image: linear-gradient(var(--toolbar-bgcolor),var(--toolbar-bgcolor)),var(--lwt-header-image), var(--lwt-additional-images,var(--toolbar-bgimage)) !important;
}

#nav-bar[customizing],#PersonalToolbar[customizing]{ transform: none !important }

#navigator-toolbox > #PersonalToolbar{
  transform-origin: 0px var(--uc-navbar-height);
  position: relative;
}
:root[sessionrestored] #urlbar[popover]{
  opacity: 0;
  pointer-events: none;
  transition: transform 5ms linear var(--uc-autohide-toolbar-delay), opacity 0ms calc(var(--uc-autohide-toolbar-delay) + 5ms);
  transform-origin: 0px calc((var(--urlbar-container-height) - var(--urlbar-height)) / 2);
  transform: rotateX(89.5deg);
}
#mainPopupSet:has(> [role="group"][panelopen]) ~ toolbox #urlbar[popover],
#navigator-toolbox:is(:hover,:focus-within) #urlbar[popover],
#urlbar-container > #urlbar[popover]:is([focused],[open]){
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0ms;
  transform: rotateX(0deg);
}

:root[sessionrestored]:not([customizing]) #navigator-toolbox{
  margin-bottom:  calc(-1px - var(--uc-bm-height) + var(--uc-navbar-height));
}

/* Make sure the bookmarks toolbar is never collapsed even if it is disabled */
:root[sizemode="fullscreen"] #PersonalToolbar,
#PersonalToolbar[collapsed="true"]{
  min-height: initial !important;
  max-height: initial !important;
  visibility: hidden !important
}
#PersonalToolbar[collapsed="true"] #PlacesToolbarItems > *,
:root[sizemode="fullscreen"] #PersonalToolbar #PlacesToolbarItems > *{
  visibility: hidden !important;
}

/* If bookmarks toolbar is collapsed on startup, then no items are generated, and we need to set some height for it */
#PlacesToolbarItems:empty{
  height: var(--uc-bm-height);
}

/* Selected tab needs higher z-index now to "hide" the broder below it */
.tabbrowser-tab[selected]{ z-index: 3 !important; }

/* Show when cursor is over main menu popup - this requires :has selector support */
#mainPopupSet:has(> [role="group"][panelopen]) ~ toolbox > .browser-toolbar{
  transition-delay: 0ms !important;
  transform: rotateX(0);
}

/* SELECT TOOLBAR BEHAVIOR */
/* Comment out or delete one of these to disable that behavior */

/* Show when urlbar is focused */
#nav-bar:focus-within + #PersonalToolbar,
#navigator-toolbox > #nav-bar:focus-within{
  transition-delay: 0ms !important;
  transform: rotateX(0);
}

/* Show when cursor is over the toolbar area */
#navigator-toolbox:hover > .browser-toolbar{
  transition-delay: 0ms !important;
  transform: rotateX(0);
}

/* This makes the tab notification box show immediately below tabs, otherwise it would break the layout */
#navigator-toolbox > div{ display: contents }
:where(#titlebar,#navigator-toolbox > #TabsToolbar,#navigator-toolbox > #toolbar-menubar,#tab-notification-deck,.global-notificationbox){
  order: -1;
}
:root[BookmarksToolbarOverlapsBrowser] #navigator-toolbox{
  margin-bottom: calc(-1px - var(--uc-bm-height) + var(--uc-navbar-height)) !important;
  z-index: auto !important;
}
@media (-moz-bool-pref: "browser.fullscreen.autohide"){
  :root[sizemode="fullscreen"] #navigator-toolbox[style*="margin-top"]{
    margin-top: calc(1px - var(--tab-min-height) - 2 * var(--tab-block-margin)) !important;
  }
}

/* Set the following pref to enable compatibility with multi-row_bookmarks.css */
@media (-moz-bool-pref: "userchrome.autohide-bm-and-main-toolbars.multirow-bookmarks-compat.enabled"){
  #navigator-toolbox{ margin-bottom: var(--uc-navbar-height) !important; }
  #PersonalToolbar:not([customizing]){
    min-height: 0 !important;
    margin-bottom: 0;
    height: 0;
    overflow-y: visible !important;
    z-index: 2;
    padding-inline: 0 !important;
  }
  #personal-bookmarks{
    background: inherit;
    height: min-content;
  }
  #PlacesToolbarDropIndicatorHolder{
    pointer-events: none !important;
  }
}

/* ------------------------------------------------------------------------------------------ */

/* Tighten up drop-down/context/popup menu spacing                    */
/* https://support.mozilla.org/en-US/questions/1338204#answer-1434499 */

menupopup > menuitem, menupopup > menu {
  padding-block: 4px !important;
}
:root {
  --arrowpanel-menuitem-padding: 4px 8px !important;
}

/* ------------------------------------------------------------------------------------------ */

/* MAX TABS WIDTH */
/* http://forums.mozillazine.org/viewtopic.php?p=14839654#p14839654 */
/* https://web.archive.org/web/20201027235249/http://forums.mozillazine.org/viewtopic.php?p=14839654 */
.tabbrowser-tab:not([pinned])
{
  max-width: 170px !important;
  min-width: 140px !important;
}

/* ------------------------------------------------------------------------------------------ */

/* LEGIBLE TOOLTIP ON BOTTOM LEFT CORNER WHEN HOVERING OVER LINKS */
/* http://forums.mozillazine.org/viewtopic.php?p=14839654#p14839654 */
/* https://web.archive.org/web/20201027235249/http://forums.mozillazine.org/viewtopic.php?p=14839654 */
#statuspanel-label {
  border: none !important;
  background: #000000 !important;
  color: #FFFFFF !important;
  font-family: Consolas, monospace !important;
}

/* ------------------------------------------------------------------------------------------ */

/* Hide the Minimize/Maximize/Close buttons */
/* https://www.reddit.com/r/FirefoxCSS/comments/amby9d */

.titlebar-buttonbox-container{ display: none !important }

#toolbar-menubar spacer {
  display: none !important;
}

/* ------------------------------------------------------------------------------------------ */

/*** Proton Tabs Tweaks ***/

/* Adjust tab corner shape, optionally remove space below tabs */

#tabbrowser-tabs {
    --user-tab-rounding: 0px;
}

.tab-background {
    border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important; /* Connected */
    margin-block: 1px 0 !important; /* Connected */
}
#scrollbutton-up, #scrollbutton-down { /* 6/10/2021 */
    border-top-width: 1px !important;
    border-bottom-width: 0 !important;
}

/* 1/16/2022 Tone down the Fx96 tab border with add-on themes in certain fallback situations */
.tab-background:is([selected], [multiselected]):-moz-lwtheme {
    --lwt-tabs-border-color: rgba(0, 0, 0, 0.5) !important;
    border-bottom-color: transparent !important;
}
[brighttext="true"] .tab-background:is([selected], [multiselected]):-moz-lwtheme {
    --lwt-tabs-border-color: rgba(255, 255, 255, 0.5) !important;
    border-bottom-color: transparent !important;
}

/* Container color bar visibility */
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
    margin: 0px max(calc(var(--user-tab-rounding) - 3px), 0px) !important;
}

/* Override Normal Density height to Compact Density height only for tabs */

#TabsToolbar, #tabbrowser-tabs {
    --tab-min-height: 22px !important;
}
    /* Tweak for covering a line at the bottom of the active tab on some themes 8/11/2021 */
#main-window[sizemode="normal"] #toolbar-menubar[autohide="true"] + #TabsToolbar, 
#main-window[sizemode="normal"] #toolbar-menubar[autohide="true"] + #TabsToolbar #tabbrowser-tabs {
    --tab-min-height: 22px !important;
}
#scrollbutton-up,
#scrollbutton-down {
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
}

    /* [Connected Tabs] Set a max height based on min-height plus margin-block: 1px 0 */
#TabsToolbar, #TabsToolbar > hbox, #TabsToolbar-customization-target, #tabbrowser-arrowscrollbox  {
    max-height: calc(var(--tab-min-height) + 1px) !important;
}
    /* [Connected Tabs] Adjust padding around icons on buttons to avoid crushed images */
#TabsToolbar-customization-target toolbarbutton > .toolbarbutton-icon, 
#TabsToolbar-customization-target .toolbarbutton-text, 
#TabsToolbar-customization-target .toolbarbutton-badge-stack,
#scrollbutton-up,#scrollbutton-down {
    padding-top: 7px !important;
    padding-bottom: 6px !important;
}

/* Tweak Options as of 1/12/2022; Generated Mon Mar 14 2022 00:45:58 GMT-0300 (Uruguay Standard Time) */

/* ------------------------------------------------------------------------------------------ */

/* https://www.reddit.com/r/FirefoxCSS/comments/m6txt7/how_do_i_delet_that_space_and_change_background/gr7sytl/ */

.titlebar-spacer[type="pre-tabs"]{display:none;}
.titlebar-spacer[type="post-tabs"]{display:none;}

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* https://github.com/leadweedy/Firefox-Proton-Square/blob/main/userChrome.css */

/* NAV BAR ---------------------------------------------------------------------------------------------------- */

:root{
  /* reduce padding between menu items */
  --arrowpanel-menuitem-padding: 3px 4px !important;
  --arrowpanel-menuitem-margin: 0 2px !important;
  --panel-subview-body-padding: 2px 0 !important;


  /* square the off most of the UI (selection buttons on hover, context menus, hamburger menus, etc) */
  --toolbarbutton-border-radius: 0 !important;
  --arrowpanel-menuitem-border-radius: 0 !important;
  --arrowpanel-border-radius: 0 !important;
  --tab-border-radius: 0 !important;
  --subviewbutton-border-radius: 0 !important;
}


/* squares the profile picture on toolbar if logged into sync AND not disabled by pref */
@supports not -moz-bool-pref("browser.syncavatar.round") {
  #fxa-avatar-image {border-radius: 0 !important;}
}


/* scales the profile picture, since it is quite small */
#fxa-avatar-image {transform: scale(var(--sync-avatar-scale)) !important;}


/* SUB MENUS --------------------------------------------------------------------------------------------- */

/* removes the rounded corners from (bookmarks) menu */
.menupopup-arrowscrollbox, .panel-arrowcontainer, .panel-arrowbox, .panel-arrowscrollbox, menupopup {
  border-radius: 0 !important;
}


/* removes rounded corner from selection box in side bookmarks menu */
menupopup menuitem, menupopup menu {border-radius: 0 !important;}


/* square input fields in the edit bookmarks menu */
#editBMPanel_namePicker {border-radius: 0 !important;}
#editBMPanel_folderMenuList {border-radius: 0 !important;}
#editBMPanel_tagsField {border-radius: 0 !important;}
#editBMPanel_locationField {border-radius: 0 !important;}
#editBMPanel_keywordField {border-radius: 0 !important;}


/* square off aspects of the download menu (i.e. selection boxes, open in folder button) */
.download-state, .downloadButton {border-radius: 0 !important;}

.downloadProgress {
  border-radius: 0 !important;
  overflow: hidden !important;
}

.downloadProgress[paused] {
  border-radius: 0 !important;
}

.downloadProgress:not([value="0"])::-moz-progress-bar {
  border-radius: 0 !important;
}

.downloadProgress::-moz-progress-bar {
  border-radius: 0 !important;
}

.downloadProgress[paused]::-moz-progress-bar {
  border-radius: 0 !important;
}


/* square off the toggle switch for "enhanced tracking protection" */
.protections-popup-tp-switch, .protections-popup-tp-switch::before {border-radius: 0 !important;}


/* square the permissions popup (e.g. autoplay blocked) */
#permission-popup-menulist {border-radius: 0 !important;}


/* square permission popups for webRTC (screen sharing and voice) */
#webRTC-selectMicrophone-menulist {border-radius: 0 !important;}
#webRTC-selectWindow-menulist {border-radius: 0 !important;}
#webRTC-previewVideo {border-radius: 0 !important;}


/* square the fullscreen and zoom reset */
#appMenu-zoomReset-button2 > .toolbarbutton-text,
#appMenu-fullscreen-button2 > .toolbarbutton-icon {
  border-radius: 0 !important;
}


/* MISC ITEMS ------------------------------------------------------------------------------------------- */

/* square "close tabs and quit" window and buttons (and prob other dialog boxes) */
.dialogBox {border-radius: 0 !important;}
button {border-radius: 0 !important;}


/* square checkboxes */
.checkbox-check {border-radius: 0 !important;}
#checkbox {border-radius: 0 !important;}


/* square dropdown selection boxes */
select {border-radius: 0 !important;}


/* square selections, checkboxes, and nav buttons on the print page */
.toggle-group-label {border-radius: 0 !important;} 
.photon-number {border-radius: 0 !important;}
#headers-footers-enabled {border-radius: 0 !important;}
#backgrounds-enabled {border-radius: 0 !important;}
.toolbarButton:not(:hover) {background-color: #2b2a33 !important;}
#custom-range {border-radius: 0 !important;}

/* square popup when entering full screen video */
#fullscreen-warning {border-radius: 0 !important;}


/* square dismissable "show me how" notification messages */
notification-message {border-radius: 0 !important;}
.animated {border-radius: 0 !important;}
.infobar {border-radius: 0 !important;}
.infobar::before {
  border-start-start-radius: 0 !important;
  border-end-start-radius: 0 !important;
}

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* Insert new CSS code snippets here */

/* ------------------------------------------------------------------------------------------ */
